<header>
    <title>
        Image Abstraction Layer
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</header>

<body>
    <main>
        <section class="container">
            <h1>
                Image Abstraction Layer - FCC Basejump
            </h1>
            <p>
                Enter a parameter in the format below to receive a response:
            </p>
            <p class="well well-lg">
                <span style="color:red">Receive an array of objects for an image search. Optional query 'offset' will affect pagination - ~/api/imagesearch/</span><br>
                <span style="color:green">Example: </span>https://image-abstraction-layer.herokuapp.com/api/imagesearch/cats?offset=2 <br><br>
                
                <span style="color:red">Retrieve all searches ordered by most recent first with ~/latest/imagesearch</span><br>
                <span style="color:green">Example: </span>https://image-abstraction-layer.herokuapp.com/latest/imagesearch/
            </p>
        </section>
    </main>
</body>